body {
    background-color: black;
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    opacity: 0.9;
    text-align: center;
}

.nav-container {
    width: 100%;
    height: 69px;
    position: fixed;
    border-bottom: 1px solid seashell;
    z-index: 1;
    background: black;
    top: 0;
    left: 0;
}

#logo {
    position: fixed;
    height: 50px;
    padding: 10px;
    float: left;
}

.links {
    width: 100%;
    height: 100%;
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
}

a {
    color: seashell;
    text-decoration: underline;
    margin-right: 20px;
}

.first-content-container {
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.image {
    width: 1200px;
    height: 700px;
    padding-top: 80px;
    margin: 0px 50px;
}

.image img {
    height: 700px;
}

.text-content{
    position: absolute;
    width: 100%;
    height: auto;
    top: 50%;
    text-align: center;
    align-items: center;
    background-color: black;
}

.text-content h2 {
    height: 30px;
    margin: 10px;
}

.text-content h4 {
    height: 30px;
    margin-top: 35px;
    margin-bottom: 10px;
}

.second-content-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.header {
    width: 1000px;
    flex-direction: row;
    margin: 0 auto;
}

.image-container {
    width: 1000px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.image-container img {
    width: 300px;
    height: 200px;
    margin-right: 20px;
}

.image-container h4 {
    margin-top: 10px;
}

.location-container {
    width: 1200px;
    height: 500px;
    background-image: url("images/img2.png");
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 80px;
    margin-right: 30px;
    margin-left: 20px;
}

.location-container
.addresse-container
.addresse {
    background-color: black;
    display: inline-flex;
    flex-direction: column;
    width: 300px;
    height: 300px;
    font-size: 22px;
    margin-right: 40px;
    margin-top: 15px;
    opacity: 1;
}

.addresse p {
    font-size: 20px;
    font-weight: normal;
}

.contact {
    height: 200px;
    align-items: center;
}

.copyright {
    float: left;
    padding-left: 20px;
}