@import "./colors.scss";
@import "./body.scss";
@import "./navContainer";
@import "./footer.scss";

.first-content-container {
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    .image {
        width: 1200px;
        height: 700px;
        padding-top: 80px;
        margin: 0px 50px;
    
        img {
            height: 700px;
        }
    }

    .text-content{
        position: absolute;
        width: 100%;
        height: auto;
        top: 50%;
        text-align: center;
        align-items: center;
        background-color: $backgroundColor;

        h2 {
            height: 30px;
            margin: 10px;
        }
        
        h4 {
            height: 30px;
            margin-top: 35px;
            margin-bottom: 10px;
        }
    }
}

.second-content-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;

    .header {
        width: 1000px;
        flex-direction: row;
        margin: 0 auto;
    }
    
    .image-container {
        width: 1000px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        img {
            width: 300px;
            height: 200px;
            margin-right: 20px;
        }   
        h4 {
            margin-top: 10px;
        }
    }
}

.location-container {
    width: 1200px;
    height: 500px;
    background-image: url("images/img2.png");
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 80px;
    margin-right: 30px;
    margin-left: 20px;

    .addresse-container
    .addresse {
        background-color: $backgroundColor;
        display: inline-flex;
        flex-direction: column;
        width: 300px;
        height: 300px;
        font-size: 22px;
        margin-right: 40px;
        margin-top: 15px;
        opacity: 1;

        p {
            font-size: 20px;
            font-weight: normal;
        }
    }   
}